
<div class="container">
    <h2>Adresse</h2>
    <form (ngSubmit)="save()">
        <div form-group>
            <label>Détail de l'adresse :</label>
            <input type="text" class="form-control" name="Detail" [(ngModel)]="address.addressDetail">

        </div>
        <div form-group>
            <label>Ville :</label>
            <input type="text" class="form-control" name="Ville" [(ngModel)]="address.city">
        </div>
        <div ngModelGroup="Address">
            <div form-group>
                <label>Code Postal :</label>
                <input type="text" class="form-control" name="Codepostal" [(ngModel)]="address.zipCode">
            </div>
            <div form-group>
                <label>Pays :</label>
                <input type="text" class="form-control" name="Pays" [(ngModel)]="address.country">
            </div>


        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>

</div>