<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="4">Récapitulatif du panier</th>
    </tr>
    <tr>
      <th>Produit</th>
      <th>quantité</th>
      <th>Prix</th>
      <th>Sous-total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of order.orderLines">
      <td>{{item.product?.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price |number :'1.2-2'}} €</td>
      <td>{{item.price*item.quantity |number :'1.2-2'}} €</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total :</td>
      <td>{{order.amount |number :'1.2-2'}} € </td>
    </tr>
  </tfoot>
</table>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
        <h5> Adresse de livraison :</h5> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> {{order.deliveryAddress?.addressDetail}}</li>
          <li class="list-group-item">{{order.deliveryAddress?.zipCode}}</li>
          <li class="list-group-item">{{order.deliveryAddress?.city}}</li>
          <li class="list-group-item">{{order.deliveryAddress?.country}}</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
        <h5>Adresse de facturation :</h5>  
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{order.billingAddress?.addressDetail}}</li>
          <li class="list-group-item">{{order.billingAddress?.zipCode}}</li>
          <li class="list-group-item">{{order.billingAddress?.city}}</li>
          <li class="list-group-item">{{order.billingAddress?.country}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-around">
<div class="col-md-4">
  <button type="button" class="btn btn-success" (click)="goToPreviousPage()">retour</button>
</div>


<div class="col-md-4">
  <button type="button" class="btn btn-success" (click)="validateOrder()">Commander</button>
</div>

</div>