<div *ngIf="!product">
  loading....
</div>

<div *ngIf="product" class="card">
  <div class="card-header">
    <h2>{{product?.name}}</h2>
  </div>
  <div class="col-6 mx-auto" *ngIf="product.images?.length">
  <img class="card-img-top" [src]="product.images[0].url" alt="image produit" >
  </div>
  <div class="card-body">
    <h6 class="card-title">{{product.price}} €</h6>
    <p class="card-text">{{product.longDescription}}</p>
    <h4>choisissez la quantité :</h4>
    <select lass="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 8rem;" [(ngModel)]="quantite" (change)="buildOrderLine()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <div class="row justify-content-evenly">
      <div class="col-auto">
        <button type="button" class="btn btn-success" [disabled]="quantite==0" (click)="addOrderLine()">Ajouter au panier !</button>
      </div>
      <div class="col-auto ">
        <a routerLink="" class="btn btn-primary">Retour à la liste</a>
      </div>
    </div>
  </div>
</div>