<div class="row">
  <div class="card col-md-6" style="width: 18rem;" *ngFor="let item of products">
    <img class="card-img-top" *ngIf="item.images?.length" [src]="changeUrlIfUploadFile(item.images![0].url!)" [alt]="item.images![0].name">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}</p>
      <p class="card-text">{{item.price| number:'1.2-2'}} €</p>
    </div>
    <div class="card-body">
      <a routerLink="/product/{{item.id}}" class="card-link">Voir le détail</a>
    </div>
  </div>
</div>
<div class="row" class="text-center" >
  <button type="button" class="btn btn-primary" routerLink="/category">Retour liste categories</button>
</div>
