<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Créer un produit</h3>

      <form (ngSubmit)="createProduct()">

        <label for="name"> Nom :</label><br />
        <input type="text" id="name" name="name" [(ngModel)]="product.name">
        <br />

        <label for="description"> Description:</label><br />
        <input type="text" id="description" name="description" [(ngModel)]="product.description">
        <br />


        <!-- <label for="image"> Image du produit :</label><br/>
  <input type="url" id="image" name="image" [(ngModel)]="product.images"> 
  <br/> -->

        <label for="longdescription"> Longue description:</label><br />
        <textarea id="longdescription" name="longdescription" [(ngModel)]="product.longDescription"></textarea>
        <br />

        <label for="price">Prix :</label><br />
        <input type="number" id="price" name="price" [(ngModel)]="product.price">
        <br />
        <br />
        <label for="categoryId">Catégorie :</label><br />
        <select [(ngModel)]="categoryId" name="categoryId" id="dropdown">
          <option *ngFor="let item of categories" [ngValue]="item.id">{{item.name}}</option>
        </select> <br />
        <br />

        <div *ngIf="product.images.length!=0">
          <h5>images ajoutées :</h5>
            <ul *ngFor="let image of product.images">
              <li>{{image.name}}</li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>
    <div class="col-6">
      <app-add-image (imageCreated)="getImage($event)"></app-add-image>
    </div>
  </div>
</div>