<div class="mx-auto w-75 mt-5" *ngIf="!accountCompleted">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Veuillez saisir les informations pour la complétion de votre compte :</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" novalidate>
        <!-- <p class="text-danger" *ngIf="hasError">Invalid credentials</p> -->
        <div class="mb-3">
          <label for="firstName" class="form-label">Prénom :</label>
          <input name="firstName" formControlName="firstName" type="text" class="form-control" id="firstName">
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Nom :</label>
          <input name="lastName" formControlName="lastName" type="text" class="form-control" id="lastName">
          <!-- <p class="text-danger" *ngIf="!password?.valid && password?.touched">Mot de passe incorrect</p> -->
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Numéro de téléphone :</label>
          <input name="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber">
          <!-- <p class="text-danger" *ngIf="!password?.valid && password?.touched">Mot de passe incorrect</p> -->
        </div>

        <div class="mb-3">
          <label for="birthDate" class="form-label">Date de naissance</label>
          <input name="birthDate" formControlName="birthDate" type="date" class="form-control" id="birthDate">
          <!-- <p class="text-danger" *ngIf="!password?.valid && password?.touched">Mot de passe incorrect</p> -->
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid"
          (click)="register()">Valider</button>
      </form>
    </div>
  </div>
</div>

<div class="mx-auto w-75 mt-5" *ngIf="accountCompleted">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Recapitutalif de votre compte :</h3>
      <div class="card-body">
        <div class="mb-3">
          <p>Prénom : {{account.firstName}}</p>
        </div>
        <div class="mb-3">
          <p>Nom : {{account.lastName}}</p>
        </div>
        <div class="mb-3">
          <p>Date de naissance : {{account.birthDate}}</p>
        </div>
        <div class="mb-3">
          <p>Numéro de téléphone : {{account.phoneNumber}}</p>
        </div>
        <div class="mb-3 row justify-content-between">
          <div class="col-4">
            <button type="button" class="btn btn-primary" (click)="modifiyAccount()">Modifier</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success" routerLink="/address-creation">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="back" (click)="goToPreviousPage()">retour</button>