<p *ngIf="order==null">Votre panier est vide</p>
<table class="table table-striped table-hover" *ngIf="order">
  <thead>
    <tr>
      <th colspan="5">Récapitulatif du panier</th>
    </tr>
    <tr>
      <th>Produit</th>
      <th>quantité</th>
      <th>Prix</th>
      <th>Sous-total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of order.orderLines">
      <td>{{item.product?.name}}</td>
      <td> <select name="quantity" id="quantity" [(ngModel)]="item.quantity" (change)="updateAmount()">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select> 
      </td>
      <td>{{item.price |number :'1.2-2'}} €</td>
      <td>{{item.price*item.quantity |number :'1.2-2'}} €</td>
      <td><button type="button" class="btn btn-warning" (click)="deleteOrderLine(item)">Supprimer</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total :</td>
      <td>{{order.amount |number :'1.2-2'}} € </td>
    </tr>
  </tfoot>
</table>
<div class="row">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" routerLink="" (click)="saveBasket()">Continuer mes achats</button>
    <button type="button" class="btn btn-success" routerLink="/finalize" (click)="saveBasket()" >Valider ma commande</button>
  </div>
</div>