
<header>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="category"> Voir les catégories</a>
    <a class="navbar-brand" routerLink="login"> Mon compte</a>
    <a class="navbar-brand" routerLink=""> Accueil</a>

    <form class="d-flex" role="search" (ngSubmit)="showArticles()">
      <input class="form-control me-2"  placeholder="Rechercher" aria-label="Search" name="field" [(ngModel)]="field">
      <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    <button  type="button" (click)="logout()" class="btn btn-dark" *ngIf="currentUser.user"> Logout</button>
    <button  type="button" routerLink="/basket" class="btn btn-info"> Panier</button>

 </div>
</nav>
</header>
<router-outlet></router-outlet>
<br>
<br>
<br>
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Pâtissier
          </h6>
          <p>
           Le meilleur électroménager du moment, des prix attractifs, trouvez votre bonheur chez Pâtissier
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Lyon, 69000, France</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            patissier@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 04 57 82 96 02</p>
          <p><i class="fas fa-print me-3"></i> + 04 68 40 95 45</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
