<h3>Ajouter des images au produit</h3>

<form [formGroup]="form" (ngSubmit)="add()">
    <div>
        <label for="name">Nom :</label>
        <input type="text" class="form-control" formControlName="name" id="name" name="name">
    </div>
    <div>
        <label for="url">Image :</label>
        <input type="file" class="form-control" (change)="changeFile($event)" id="url" name="url">
    </div>

    <button class="btn btn-primary">Ajouter</button>
</form>



