
<ul>
  <li *ngFor="let product of products?.content"><a routerLink="/product/{{product.id}}"> {{product.name}} </a></li>
</ul>

<label for="pageSize">Items per page</label>
<select id="pageSize" [(ngModel)]="pageSize" (change)="fetchProducts()" >
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
</select>

<button [disabled]="products?.first" (click)="previousPage()"> < </button>
<select [(ngModel)]="page" (change)="fetchProducts()">
  <option *ngFor="let item of [].constructor(products?.totalPages); let index=index" [value]="index">{{index+1}}</option>
</select>
<button [disabled]="products?.last" (click)="nextPage()"> > </button>
