<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <h5>Nombre de produits par page: </h5>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 18rem;"
        id="pageSize" [(ngModel)]="pageSize" (change)="fetchProducts()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-6" style="width: 18rem;" *ngFor="let item of productsPage?.content">
      <img class="card-img-top" *ngIf="item.images![0]"   [src]="changeUrlIfUploadFile(item.images![0].url!)" [alt]="item.images![0].name"
        alt="product picture">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text">{{item.price| number:'1.2-2'}} €</p>
      </div>
      <div class="card-body">
        <a routerLink="/product/{{item.id}}" class="card-link">Voir le détail</a>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-success" [disabled]="productsPage?.first" (click)="previousPage()">
          Précedent </button>
        <button type="button" class="btn btn-success" [disabled]="productsPage?.last" (click)="nextPage()"> Suivant
        </button>
      </div>
  </div>
