<div class="mx-auto w-75 mt-5">


  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Liste des adresses:</h2>
    </div>
    <div *ngFor="let address of addresses">
      <div class="card">
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{address.addressDetail}}</li>
                  <li class="list-group-item">{{address.zipCode}}</li>
                  <li class="list-group-item"> {{address.city}}</li>
                  <li class="list-group-item">{{address.country}}</li>
                </ul>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary" [disabled]="deliveryAddress!=null"
                  (click)="chooseAsDeliveryAddress(address)">Choisir comme adresse de livraison</button>
                <button type="button" class="btn btn-primary" [disabled]="billingAddress!=null"
                  (click)="chooseAsBillingAddress(address)">Choisir comme adresse de facturation</button>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <button type="button" class="btn btn-danger" (click)="delete(address.id!)">Supprimer</button>
            <button type="button" class="btn btn-info" (click)="showForm(address)">Modifier</button>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <div *ngIf="displayEditForm">
    <h4>Modification de Address</h4>
    <form (ngSubmit)="update(modifiedAddress)">
      <label for="label">Address :</label>
      <input type="text" name="addressDetail" id="addressDetail" [(ngModel)]="modifiedAddress.addressDetail">
      <input type="text" name="zipCode" id="zipCode" [(ngModel)]="modifiedAddress.zipCode">
      <input type="text" name="city" id="city" [(ngModel)]="modifiedAddress.city">
      <input type="text" name="country" id="country" [(ngModel)]="modifiedAddress.country">
      <button type="submit" class="btn btn-danger">Modify</button>
    </form>
  </div>


  <hr>
  <h5>Adresse de livraison sélectionnée :</h5>
  <div *ngIf="deliveryAddress!=null">{{deliveryAddress?.addressDetail}} -- {{deliveryAddress?.city}} <button type="button" class="btn btn-danger"
      (click)="cancelDeliveryAddress()">Annuler</button>
  </div>
  <h5>Adresse de facturation sélectionnée :</h5>
  <div *ngIf="billingAddress!=null">{{billingAddress?.addressDetail}} -- {{billingAddress?.city}}<button type="button" class="btn btn-danger"
      (click)="cancelBillingAddress()">Annuler</button>
  </div>


  <button type="button" class="btn btn-success" [disabled]="deliveryAddress==null ||billingAddress==null"
    (click)="validateAddresses()">Valider les adresses</button>
  <hr>
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Ajouter une nouvelle adresse :</h1>
    </div>
    <div class="card-body">

      <form (ngSubmit)="createAddress()">
        <div class="form-group">
          <label for="details"> Details de l'adresse :</label><br />
          <input type="text" id="addressDetail" name="addressDetail" [(ngModel)]="address.addressDetail">
        </div>

        <div class="form-group">
          <label for="zipcode"> Code postal :</label><br />
          <input type="text" id="Zipcode" name="zipcode" [(ngModel)]="address.zipCode">
        </div>

        <div class="form-group">
          <label for="city"> Ville :</label><br />
          <input type="text" id="city" name="city" [(ngModel)]="address.city">
        </div>

        <div class="form-group">
          <label for="country"> Pays :</label><br />
          <input type="text" id="country" name="country" [(ngModel)]="address.country">
        </div>
        <button type="submit" class="btn btn-success">Créer</button>
      </form>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="goToPreviousPage()">Retour</button>