<div class="row">
  <div class="col-4">
    <ul *ngFor="let product of products?.content" class="list-group">
      <button (click)="delete(product.id)" class="btn btn-danger">Supprimer</button>
      <button (click)="showEditForm(product)" class="btn btn-info">Modifier</button>
      <li class="list-group-item">{{product.name}} </li>
      <li class="list-group-item">{{product.price}}</li>
    </ul>
  </div>
</div>
<div *ngIf="displayEditForm">

  <div class="row">
    <div class="col-4">
      <h4>Modification du produit</h4>
      <form (ngSubmit)="update(modifiedProduct)">
        <label for="label">nom :</label><br>
        <input type="text" name="titre" id="titre" [(ngModel)]="modifiedProduct.name"><br>
        <label for="price">prix :</label><br>
        <input type="text" name="price" id="price" [(ngModel)]="modifiedProduct.price"><br>
        <div>
          <input class="btn btn-primary" type="submit" value="Enregister" />
        </div>
      </form>
    </div>
  </div>
</div>