<ul class="list-group" *ngFor="let item of categories">
  <li class="list-group-item">
  <a routerLink="/category/{{item.id}}"><h6>{{item.name}}</h6></a>
  <button class="btn btn-danger" (click)="delete(item.id!)">Supprimer</button>
  <button class="btn btn-info" (click)="showForm(item)">Modifier</button>
  </li>
</ul>
<div *ngIf="displayEditForm">
  <h4>Modification du nom de Categorie</h4>
  <form (ngSubmit)="update(modifiedcategory)">
    <label for="label">nom :</label>
    <input type="text" name="titre" id="titre" [(ngModel)]="modifiedcategory.name">
    <button type="submit" class="btn btn-danger">Modifier</button>
  </form>
</div>
<hr>
<h5>Creation d'une nouvelle Categorie :</h5>
<form (ngSubmit)="createCategoryByName()">
  <label for="name"> Nom:</label><br/>
  <input type="text" id="name" name="name" [(ngModel)]="category.name"><br>
  <button class="btn btn-primary" id="validate">Créer</button>
</form>